@import "tailwindcss";
@import "uniwind";

@import "heroui-native/styles";

@source "./../../node_modules/heroui-native/lib";

/* global.css */
@layer theme {
	:root {
		@variant light {
			/* Base Colors */
			--background: oklch(0.95 0.02 230);
			--foreground: oklch(0.25 0.04 230);

			/* Surface: Used for non-overlay components (cards, accordions, disclosure groups) */
			--surface: oklch(0.98 0.01 230);
			--surface-foreground: oklch(0.3 0.045 230);

			/* Overlay: Used for floating/overlay components (dialogs, popovers, modals, menus) */
			--overlay: oklch(0.998 0.003 230);
			--overlay-foreground: oklch(0.3 0.045 230);

			--muted: oklch(0.55 0.035 230);

			--default: oklch(0.94 0.018 230);
			--default-foreground: oklch(0.4 0.05 230);

			/* Accent */
			--accent: oklch(0.6 0.2 230);
			--accent-foreground: oklch(0.98 0.005 230);

			/* Form Field Defaults - Colors */
			--field-background: oklch(0.98 0.01 230);
			--field-foreground: oklch(0.25 0.04 230);
			--field-placeholder: var(--muted);
			--field-border: transparent;

			/* Status Colors */
			--success: oklch(0.72 0.14 165);
			--success-foreground: oklch(0.25 0.08 165);

			--warning: oklch(0.78 0.12 85);
			--warning-foreground: oklch(0.3 0.08 85);

			--danger: oklch(0.68 0.18 15);
			--danger-foreground: oklch(0.98 0.005 15);

			/* Component Colors */
			--segment: oklch(0.98 0.01 230);
			--segment-foreground: oklch(0.25 0.04 230);

			/* Misc Colors */
			--border: oklch(0 0 0 / 0%);
			--divider: oklch(0.91 0.015 230);
			--link: oklch(0.62 0.17 230);
		}

		@variant dark {
			/* Base Colors */
			--background: oklch(20% 0.054 248.19);
			--foreground: oklch(0.94 0.01 230);

			/* Surface: Used for non-overlay components (cards, accordions, disclosure groups) */
			--surface: oklch(30.16% 0.093 253.05);
			--surface-foreground: oklch(0.872 0.01 258.3);

			/* Overlay: Used for floating/overlay components (dialogs, popovers, modals, menus) */
			--overlay: oklch(37.87% 0.121 254.18);
			--overlay-foreground: oklch(0.9 0.015 230);

			--muted: oklch(70.71% 0.022 261.75);

			--default: oklch(22.29% 0.063 249.92);
			--default-foreground: oklch(0.88 0.018 230);

			/* Accent */
			--accent: oklch(45.14% 0.147 254.59);
			--accent-foreground: oklch(0.872 0.01 258.3);

			/* Form Field Defaults - Colors */
			--field-background: var(--default);
			--field-foreground: var(--foreground);
			--field-placeholder: var(--muted);
			--field-border: transparent;

			/* Status Colors */
			--success: oklch(0.68 0.16 165);
			--success-foreground: oklch(0.95 0.008 165);

			--warning: oklch(0.75 0.14 90);
			--warning-foreground: oklch(0.2 0.04 90);

			--danger: oklch(0.65 0.2 20);
			--danger-foreground: oklch(0.95 0.008 20);

			/* Component Colors */
			--segment: oklch(0.22 0.046 230);
			--segment-foreground: oklch(0.9 0.015 230);

			/* Misc Colors */
			--border: oklch(0 0 0 / 0%);
			--divider: oklch(0.28 0.045 230);
			--link: oklch(0.75 0.18 230);
		}
	}
}
